<div class="container">
  <div class="page-header">
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-info' %>
    <%= link_to 'Delete', user_path(@user), method: :delete 'btn btn-danger' %>
    <h1><%= @user.user_name %></h1>
  </div>
  <h2><%= @user.about %></h2>
</div>
