<div class="container">
  <div class="page-header">
    <%= link_to 'Create Course', new_course_path, class: 'btn btn-info pull-right' %>
    <h1>Courses</h1>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Day/Night</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.title, course_path(course) %></td>
            <% if course.day_night == true %>
              <td>Day</td>
            <% else %>
              <td>Night</td>
            <% end %>
            <td><%= link_to 'Edit', edit_course_path(course) %></td>
            <td><%= link_to 'Delete', course_path(course), method: :delete %></td>
          </tr>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
